:root {
    --pink: #e84393;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(209, 206, 206);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo b {
    font-size: larger;
    color: blue;
}


header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover {
    color: var(--pink);
}

header .icons input {
    background: rgb(255, 253, 253);
}

header .icons:hover {
    color: var(--pink);
}

header #toggler {
    display: none;
}

header .fa-bars {
    color: #333;
    font-size: 3rem;
    border-radius: .5rem;
    padding: 0.5rem 1.5rem;
    border: 0.1rem solid rgba(0, 0, 0, .1);
    cursor: pointer;
    display: none;

}
.review .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.review .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: 1rem solid rgba(0, 0, 0, .1);
}

.review .box-container .box .contant {
    float: left;
    width: 250px;
    margin: auto;
}


.review .box-container .box .user {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box p {
    color: rgb(15, 14, 14);
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-top: 2rem;
}

.review .box-container .box .user img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}



.review .box-container .box .user span {
    color: #999;
    font-size: 1.5rem;
}


.container {
   
    display: grid;
    margin-left: 140px;
    margin-right: 140px;
    grid-template-rows: 233px 233px 233px;
    grid-template-columns: 133px 133px 133px;
    row-gap: 12px;
    column-gap: 12px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}
.item2{
 grid-row-start: 1;
 grid-row-end: 3;
 grid-column-start: 2;
 grid-column-end: 2;
}
.container .button{
    border-radius: 25px;
    background: var(--pink);
    color: rgb(237, 241, 239);
    width: 100px;
    display: grid;
    align-items: center;
    margin:auto;
    margin-top: 150px;
}
.item h3{
    color: rgba(247, 3, 28, 0.845);
    font-weight: bolder;
}
.item span{
    color: rgb(7, 11, 240);
    font-size: larger;
}
.item1{
  background-image: url(fashion.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}
.item2{
  background-image: url(fas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}
.item3{
  background-image: url(barger.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}
.item4{
  background-image: url(tech1.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}
.item5{
  background-image: url(sport.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

@media(max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: left;
    }

    .review .box-container .box .contant {
        width: 35%;
    }
    .container{
        margin-left: 20px;
        margin-right: 20px;
    }

}

@media(max-width:768px) {
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .review .box-container .box .contant {
        width: 55%;
    }
    .container{
      
        margin-left: 20px;
        margin-right: 20px;
    }
    .item{
      grid-column-start: 1;
      grid-column-end: 4;
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }

    .review .box-container .box .contant {
        width: 100%;
    }
    
}